{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <section>
    <div class="container">
        <div class="row justify-content-md-center">
                <a class="text-center" id="menu" href="/accountability/">Prestação de Contas</a>

                <a class="text-center" id="menu" href="/reservations/{% now "Y/n" %}/">Reserva de Ambiente</a>

                <a class="text-center" id="menu" href="/contact_us">Fale conosco</a>
        </div>
    </div>
    </section>

{% endblock content %}