.message-success {
    align-content: center;
    width: 100%;
    color: white;
    border-radius: 5px;
    background-color: #60D76A; /* light green */
    padding: 10px;
    margin-top: 1%;
}

.btn {
    width: 20%;
}

textarea {
    width: 100%;
    padding: 1%;
    background-color: rgba(240, 240, 240, 0.9);
    height: 100%;
}

#id_content {
    border-radius: 8px;
}

.form-row p {
    margin-top: 1%;
    margin-left: 50px;
}

.container-fluid {
    margin-top: -1%;
    margin-bottom: 1%;
    height: 500px;
}