.message-success {
    align-content: center;
    width: 100%;
    color: white;
    border-radius: 5px;
    background-color: #60D76A; /* light green */
    padding: 10px;
    margin-top: 1%;
}

.btn {
    width: 20%;
}

textarea {
    width: 100%;
    padding: 1%;
    background-color: rgba(240, 240, 240, 0.9);
    height: 100%;
}

#id_content {
    border-radius: 8px;
}

.form-row p {
    margin-top: 1%;
    margin-left: 50px;
}

.container-fluid {
    margin-top: -1%;
    margin-bottom: 1%;
    height: 450px;
}

#upload_file p {
    font-size: 14px;
    display: inline-block;
}

.identification_option ul {
    list-style: none;
}

button#send.btn.btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
    cursor: pointer;
}

button#send.btn.btn-primary:hover {
    background-color: #265a88;
    border-color: #265a88;
}
