.calendar-message-success {
    align-content: center;
    width: 100%;
    color: white;
    border-radius: 5px;
    background-color: #60D76A; /* light green */
    padding: 10px;
}

.calendar-message-warning {
    align-content: center;
    width: 100%;
    color: white;
    border-radius: 5px;
    background-color: #D81010; /* red */
    padding: 10px;
}

.calendar-message-info {
    align-content: center;
    width: 100%;
    color: black;
    border-radius: 5px;
    background-color: #FFBB33; /* orange */
    padding: 10px;
}

.calendar-tp-reservation-future {
    color: white;
    border-radius: 5px;
    background-color: green;
    padding: 2px;
}

.calendar-tp-reservation-past {
    color: white;
    border-radius: 5px;
    background-color: #BAE0BA; /* light green */
    padding: 2px;
}

.calendar-sf-reservation-future {
    color: white;
    border-radius: 5px;
    background-color: darkblue;
    padding: 2px;
}

.calendar-sf-reservation-past {
    color: white;
    border-radius: 5px;
    background-color: #B2B2DA; /* light blue */
    padding: 2px;
}