{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/reservations.css' %}">
    <link rel="stylesheet" href="{% static 'css/reservations-mobile.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% endblock stylesheet %}


{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="container" align="center">
                <p class="calendar-message-{{ message.tags }}">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <h3>Minhas reservas</h3>
    {% if my_reservations %}
        <table width="85%" border="1" align="center">
            <tr align="center" height="40" bgcolor="#E3E3E3">
                <td><b>DATA</b></td>
                <td><b>LOCAL</b></td>
                <td><b>SITUAÇÃO DA RESERVA</b></td>
            </tr>
            {% for reservation in my_reservations %}
                <tr align="center" height="30" id="reservation_{{ reservation.pk }}"
                    bgcolor="{{ reservation.get_color }}">
                    <td>{{ reservation.date }}, {{ reservation.date|date:"l" }}</td>
                    <td>{{ reservation.get_spot_display }}</td>
                    <td>{{ reservation.status }}</td>
                </tr>
            {% endfor %}
        </table>

         <form action="." method="post">
        {% csrf_token %}
        <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <input type="hidden" name="user" id="user" value="{{ request.user.pk }}">

          <div class="form-group">
            <label for="spot" style="padding-top: 5px">Cancelar reserva</label> <br/>
            <select class="form-control" style="width: 43%; display: inline-block" id="cancel_reservation" name="cancel_reservation">
                <option disabled selected value>-----</option>
                {% for reservation in my_valid_reservations %}
                    <option value="{{ reservation.pk }}">{{ reservation.date }} - {{ reservation.get_spot_display }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary" name="cancel_reservation_button" id="cancel_reservation_button"
                  onclick="setRequiredTrue(cancel_reservation); removeRequired(spot); removeRequired(date); removeRequired(terms_of_use)">Cancelar reserva</button>
          </div>
        </div>
        </div>
         </form>

    {% else %}
        <p>Você não possui reservas agendadas.</p>
    {% endif %}


    <h3 id="disponibility">Disponibilidade</h3>
    <div align="center">
    <h5 class="calendar-tp-reservation-future" align="center" style="display: inline-block; width: 20%; padding: 5px">TP = Tapiri</h5>
    <h5 class="calendar-sf-reservation-future" align="center" style="display: inline-block; width: 20%; padding: 5px">SF = Salão de Festas</h5>
    <h5 class="calendar-ta-reservation-future" align="center" style="display: inline-block; width: 20%; padding: 5px">TA = Tapiri das Árvores</h5>
    <H5 class="calendar-tp-reservation-future" align="center" style="display: inline-block; width: 20%; padding: 5px; background-color: #D1E200">Aguardando pagamento</h5>
    </div>

    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <a href="{% url 'reservation_calendar' year=previous.year month=previous.month %}">« Mês anterior</a>
      </div>
      <div class="col-md-5 text-right">
        <a href="{% url 'reservation_calendar' year=next.year month=next.month %}">Próximo mês »</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <table class="table table-bordered" style="border: 1px solid black" >

          <thead>
            <tr>
              <th colspan="7" style="border: 1px solid black" bgcolor="#C4C4C4">{{ selected_date|date:"F" }} {{ selected_date.year }}</th>
            </tr>
            <tr bgcolor="#E3E3E3">
              <th style="border: 1px solid black">Domingo</th>
              <th style="border: 1px solid black">Segunda</th>
              <th style="border: 1px solid black">Terça</th>
              <th style="border: 1px solid black">Quarta</th>
              <th style="border: 1px solid black">Quinta</th>
              <th style="border: 1px solid black">Sexta</th>
              <th style="border: 1px solid black">Sábado</th>
            </tr>
          </thead>

          <tbody>
            {% for week in calendar %}
            <tr style="height: 100px">
              {% for day, tp_reservation, sf_reservation, ta_reservation in week %}
              <td style="border: 1px solid black"
                {% if selected_date.month != day.month or day > maximum_reservation_date or day <= minimum_reservation_date %}
                class ="other"
                {% else %}
                id="day_{{ day.day }}"
                {% endif %}
              >
                <strong>{{ day.day }}</strong>
                <br>
                {% if tp_reservation and day >= today and day <= maximum_reservation_date %}
                    {% if tp_reservation.status == 'aguardando pagamento' %}
                        <p align="center" class="calendar-tp-reservation-future" style="background-color: #D1E200">
                            {{ tp_reservation.spot }} - {{ tp_reservation.user.username }}
                        </p>
                    {% else %}
                        <p align="center" class="calendar-tp-reservation-future">
                            {{ tp_reservation.spot }} - {{ tp_reservation.user.username }}
                        </p>
                    {% endif %}
                {% elif tp_reservation %}
                    <p align="center" class="calendar-tp-reservation-past">
                        {{ tp_reservation.spot }} - {{ tp_reservation.user.username }}
                    </p>
                {% endif %}
                {% if sf_reservation and day >= today and day <= maximum_reservation_date %}
                    {% if sf_reservation.status == 'aguardando pagamento' %}
                         <p align="center" class="calendar-sf-reservation-future" style="background-color: #D1E200">
                            {{ sf_reservation.spot }} - {{ sf_reservation.user.username }}
                        </p>
                    {% else %}
                        <p align="center" class="calendar-sf-reservation-future">
                            {{ sf_reservation.spot }} - {{ sf_reservation.user.username }}
                        </p>
                    {% endif %}
                {% elif sf_reservation %}
                    <p align="center" class="calendar-sf-reservation-past">
                        {{ sf_reservation.spot }} - {{ sf_reservation.user.username }}
                    </p>
                {% endif %}
                {% if ta_reservation and day >= today and day <= maximum_reservation_date %}
                    {% if ta_reservation.status == 'aguardando pagamento' %}
                        <p align="center" class="calendar-ta-reservation-future" style="background-color: #D1E200">
                            {{ ta_reservation.spot }} - {{ ta_reservation.user.username }}
                        </p>
                    {% else %}
                        <p align="center" class="calendar-ta-reservation-future">
                            {{ ta_reservation.spot }} - {{ ta_reservation.user.username }}
                        </p>
                    {% endif %}
                {% elif ta_reservation %}
                    <p align="center" class="calendar-ta-reservation-past">
                        {{ ta_reservation.spot }} - {{ ta_reservation.user.username }}
                    </p>
                {% else %}
                    <p>&nbsp;</p>
                {% endif %}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    </div>

        {% if request.user.is_authenticated %}
        <h3>Faça sua reserva</h3>

        <form action="." method="post" id="make_your_reservation">
        {% csrf_token %}

          <input type="hidden" name="user" id="user" value="{{ request.user.pk }}">

          <div class="form-group" align="left">
            <label for="spot" style="width: 25%; float: left; margin: 0 20px 0 0">
                <span style="display: block; margin: 0 0 3px">Local</span>
            <select class="form-control" id="spot" name="spot" style="width: 100%; display: inline-block">
                <option disabled selected value>-----</option>
                <option value="TP">Tapiri</option>
                <option value="SF">Salão de Festas</option>
                <option value="TA">Tapiri das Árvores</option>
            </select>
            </label>

            <label for="date" style="width: 25%; float: left; margin: 0 20px 0 0" id="reservation_date">
                <span style="display: block; margin: 0 0 3px">Data</span>
            <select class="form-control" name="date" id="date" style="width: 100%; display: inline-block">
              <option disabled selected value>-----</option>
              {% for week in calendar %}
              {% for day, tp_reservation, sf_reservation, ta_reservation in week %}
              {% if selected_date.month == day.month and day <= maximum_reservation_date and day > minimum_reservation_date %}
              {% if not tp_reservation or not sf_reservation or not ta_reservation %}
              <option value="{{ day.year }}-{{ day.month }}-{{ day.day}}">{{ day }}</option>
              {% endif %}
              {% endif %}
              {% endfor %}
              {% endfor %}
            </select>
            </label>


          <button type="submit" class="btn btn-primary" name="request_reservation_button" id="request_reservation_button"
                  onclick="setRequiredTrue(spot); setRequiredTrue(date); setRequiredTrue(terms_of_use); removeRequired(cancel_reservation)">Reservar</button>

          <br/>
          <div style="padding-top: 3px">
          <input type="checkbox" name="terms_of_use" id="terms_of_use">
              <label for="terms_of_use">Estou de acordo com os <a data-toggle="modal" href="#termsofuse">termos de uso</a>.</label>
          </div>
          <br/>
          <br/>
          </div>
        </form>

            <div class="container">
              <div id="termsofuse" class="modal fade" role="dialog" style="padding-top: 220px">
                  <div class="modal-dialog" style="max-width: 100%; width: 95%">

                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                          <div class="modal-body" style="height: 900px">
                              <embed src="{{ terms_of_use.file.url }}" frameborder="0" height="100%" width="100%"></embed>
                          </div>
                      </div>
                  </div>
              </div>
              </div>

        {% endif %}


    <script src="{% static 'js/django_csrf.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script language="JavaScript" type="text/javascript">
        function setRequiredTrue(field)
        {
            field.setAttribute('required', 'true');
        }
        function removeRequired(field)
        {
            field.removeAttribute('required');
        }
    </script>

{% endblock content %}
