{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/reservations.css' %}">
    <style>

    </style>
{% endblock stylesheet %}

{% block content %}
    <br>
    <h3>Reservas</h3>
    {% if reservations %}
        <table class="reservations-table" border="1" id="reservations-table">
            <tr align="center" height="70" bgcolor="#E3E3E3">
                <td><b>DATA</b></td>
                <td><b>AMBIENTE</b></td>
                <td><b>SITUAÇÃO DA RESERVA</b></td>
            </tr>
            {% for reservation in reservations %}
                <tr align="center" height="30" id="reservation_{{ reservation.pk }}"
                    bgcolor="{{ reservation.get_color }}">
                    <td>{{ reservation.date }}</td>
                    <td>{{ reservation.get_spot_display }}</td>
                    <td>Aguardando pagamento</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Você não possui reservas agendadas.</p>
    {% endif %}
{% endblock content %}
