{% extends 'base_accounts.html' %}

{% block title %}Senha redefinida!{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Senha redefinida!</h3>
                    <div class="alert alert-success" role="alert">
                        Sua senha foi alterada com sucesso! Agora você pode fazer o log in.
                    </div>
                    <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Voltar para o log in</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}