{% extends 'base_accounts.html' %}

{% block title %}
    {% if validlink %}
        Redefinir senha para {{ form.user.username }}
    {% else %}
        Redefina a sua senha
    {% endif %}
{% endblock title %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card">
                <div class="card-body">
                    {% if validlink %}
                        <h3 class="card-title">Redefinir senha para {{ form.user.username }}</h3>
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <button type="submit" class="btn btn-success btn-block">Mudar senha</button>
                        </form>
                    {% else %}
                        <h3 class="card-title">Redefina a sua senha</h3>
                        <div class="alert alert-danger" role="alert">
                            Parece que você clicou num link inválido para redefinir a sua senha. Por favor, tente novamente.
                        </div>
                        <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Solicitar novo link para redefinir senha</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}