{% extends 'base_accounts.html' %}

{% block title %}Redefina a sua senha{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Redefina a sua senha</h3>
                    <p>Digite o seu e-mail e você receberá um link para redefinir a sua senha.</p>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <button type="submit" class="btn btn-primary btn-block">Confirmar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}