Olá,

Alguém pediu para redefinir a senha do endereço de e-mail {{ email }}.
Siga os passos abaixo:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Seu nome de usuário no site APVMA: {{ user.username }}

Se o link acima não funcionar, por favor copie e cole o endereço no seu navegador.

Se você não pediu para redefinir a sua senha, alguém pode ter digitado o seu e-mail
por engano enquanto tentava redefinir a senha. Neste caso, você não precisa fazer nada,
apenas desconsiderar este e-mail.

Obrigado,


APVMA