{% extends 'base_accounts.html' %}

{% block title %}Cadastre-se na APVMA{% endblock title %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card">

                <div class="card-body">
                    <p>Solicitação de cadastro realizada com sucesso!</p>

                    <p>Em breve entraremos em contato para informar os seus dados de acesso.</p>

                    <p>Atenciosamente,</p>

                    <p>ACVMA</p>
                </div>

                <div class="card-footer text-muted text-center">
                    Já possui uma conta? <a href="{% url 'login' %}">Log in</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}